#app {
    width: 100%;
    height: calc(100% - 49px);
    min-height: calc(100% - 49px);
    background: ghostwhite;
    display: block;
    padding-top: 5px;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.upload {
    font-size: 11px;
    padding: 15px 45px;
    color: inherit;
    text-decoration: none;
    margin: 0px;
}

.form-spacing {
    padding-top: 45px;
    padding-bottom: 15px;
}

.input-spacing {
    margin: 5px;
}

.vertical-scroll {
    overflow-y: auto;
    height: 70vh;
}

.static-table-header {
    margin-bottom: 0;
    color: #b7b7b7;
}

.selection-box {
    width: 70%;
    display: inline-block;
}

.label-align {
    float: right;
    margin-right: 15%;
}

.form-field-spacing {
    padding-top: 15px;
    padding-bottom: 15px;
}

.panel-sizing {
    padding: 30px 100px 30px 30px;
    max-height: 900px;
    overflow: hidden;
}

.song-info {
    padding-bottom: 15px;
}

ul {
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

#file-selected {
    padding-top: 15px;
}

.divider {
    font-weight: bold;
    color: #b7b7b7;
    width: 70%;
    margin: 25px auto;
    padding: 5px;
}

hr {
    width: 70%;
    margin: 25px auto;
    max-width: 70%;
}