#app {
  width: 100%;
  height: calc(100% - 54px);
  min-height: calc(100% - 54px);
  background: whitesmoke;
    /*background: url("../img/bg-pattern.png"), #7b4397;*/
  /*background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, black, #222222);*/
  /*background: url("../img/bg-pattern.png"), linear-gradient(to left, black, #222222); }*/
  display: block;
}

.fill {
  min-height: 100%;
  height: 100%;
}

th, td {
    width: 25%;
}

.upload {
    font-size: 11px;
    padding: 15px 45px;
    color: inherit;
    text-decoration: none;
}

.upload-button {

}